body {
    width: 1024px;
    height: 1800px;
}

#top {
    width:100%;
    height: 3%;
    text-align: center;
    background-image:url('./images/banner.png');
}

#map {
    font-size: 24px;
    background-color: #ede9e3;
}

#map #portal-breadcrumbs * {
    color: black;
    margin: 0px;
}

#med {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#med-top {
    width: 100%;
    height: 25%;
    text-align: center;
}

#med-med {
    text-align: center;
}

#med-bottom {
    width: 100%;
    height: 15%;
    text-align: center;
}

#bottom {
    width: 100%;
    clear: both;
    text-align: center;
    font-size: 24px;
}

#menu #portal-globalnav {
    background-color: #c0c0c0;
    margin: 0px;
}

#menu #portal-globalnav li a {
    background: #c0c0c0;
    color: #990000;
    text-align: center;
    font-size: 11px;
    font-weight:bold;
}

#menu #portal-globalnav .selected a,
#menu #portal-globalnav a:hover {
    color: White;
}

#menu .LSBox {
    background-color: #ede9e3;
    float: right;
}

#med-med #edit-bar,
#med-med #edit-bar * {
    background-color: #ede9e3;
    border-color: #ede9e3;
    color: #990000;
}

#med-med #edit-bar #content-views a:hover{
    color: black;
    background-color: white;
}
